:root {
    --white-color: hsl(0, 0%, 100%);
    --light-color: hsl(0, 67%, 99%);
    --primary-color: hsl(0, 67%, 34%);
    --dark-color: hsl(0, 67%, 14%);


    --font-main: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --font-accent: 'Mada', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--font-main);
    background-color:var(--light-color);
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

h1 {
    color: var(--primary-color);
    font-family: var(--font-accent);
    font-size: 1.75rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
}

ul {
    list-style: none;
    color: var(--dark-color);
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
}

li:not(:last-child) {
    margin: 1rem auto;
}

a {
    text-decoration: none;
    color: var(--dark-color);
}

a:hover {
    color: var(--primary-color);
    font-weight: bold;
}

.card {
    margin: 2rem;
    max-width: 600px;
    background-color: var(--white-color);
    padding: 4rem;
    border-radius: 1.25rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
}