* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: hsl(0, 67%, 99%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: hsl(0, 67%, 34%);
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    padding-top: 20px;
}

ul {
    list-style: none;
    color: hsl(0, 67%, 14%);
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding: 20px;
}

a {
    text-decoration: none;
    color: hsl(0, 67%, 14%);
}

.card {
    max-width: 600px;
    background-color: hsl(0, 0%, 100%);
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
}