:root {
    --primary-color: hsl(218, 44%, 22%);
    --secondary-color: hsl(220, 15%, 55%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: var(--primary-color);
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    padding-top: 20px;
}

p {
    color: var(--secondary-color);
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    padding: 20px;
}

img {
    width: 290px;
    border-radius: 10px;
}

.card {
    max-width: 320px;
    background-color: hsl(0, 0%, 100%);
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
}

.return {
    margin-top: 0.5rem;
    font-size: 0.75rem;
    text-decoration: none;
    color: var(--primary-color);
}

.return:hover {
    color: var(--secondary-color);
}