@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family:'Montserrat', sans-serif;
    font-size: 13px;
    background-color: hsl(30, 38%, 92%);
    color: hsl(228, 12%, 48%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 6px;
    font-weight: 500;
}

h2 {
    font-family: 'Fraunces', serif;
    color: hsl(212, 21%, 14%);
    font-size: 30px;
    line-height: 1;
    margin: 20px 0px;
}

p {
    line-height: 1.5;
}

.poster {
    max-width: 270px;
}

.poster-mobile {
    display: none;
}

.big {
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    font-size: 26px;
}

.small {
    text-decoration: line-through;
}

.container {
    display: grid;
    grid-template-columns: 270px 270px;
    grid-template-rows: 400px;
    border-radius: 10px;
    overflow: hidden;
}

.card {
    background-color: hsl(0, 0%, 100%);
    padding: 25px;
}

.price {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
}

.btn {
    display: flex;
    background-color: hsl(158, 36%, 37%);
    color:hsl(0, 0%, 100%);
    padding: 15px 40px;
    margin-bottom: 30px;
    font-weight: 700;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn:hover {
    background-color: hsl(158, 36%, 17%);
    cursor: pointer;
}

@media (max-width: 650px) {
    .container {
        grid-template-rows: auto 370px;
        grid-template-columns: 340px;
    }

    .poster {
        display: none;
    }

    .poster-mobile {
        display: block;
        max-width: 340px;
    }

    p {
        font-size: 14px;
    }

    .big {
        font-size: 30px;
    }

    .price {
        margin: 15px 0;
    }
}